NODE_ENV=development
RELEASE_VERSION=dev-local
WORKER_CONCURRENCY=5
DOCUMENT_GENERATION_QUEUE=documents.generation
RABBITMQ_URL=amqp://guest:guest@localhost:5672
REDIS_URL=redis://localhost:6379
WORKER_INTERNAL_URL=http://localhost:3010
BACKEND_PUBLIC_URL=http://localhost:3001
DOCUMENTS_STORAGE_BUCKET=cdoprof-dev
